service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /users/{user} {
      allow read: if request.auth.uid == user;
    }
    match /users/{user}/projects/{proj} {
      allow read: if request.auth.uid == user;
    }
    match /users/{user}/projects/{proj}/functions/{func=**} {
      allow read: if request.auth.uid == user;
    }
    match /users/{user}/projects/{proj}/buckets/{c=**} {
      allow read: if request.auth.uid == user;
    }
  }
}