<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>luabits.com - lua cloud functions</title>
    <meta
      name="description"
      content="LUA cloud functions and document store. 1-click LUA backend"
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
