<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lua bits - Lua cloud functions and storage</title>
    <meta
      name="description"
      content="Lua cloud functions and document storage in seconds. Quickly deploy scalable Lua functions and access them via HTTPS."
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
