@import "../../less/variables.less";

.Docs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  margin-bottom: 12px;
}
.sub {
  margin-bottom: 4px;
  font-weight: bold;
  margin-top: 12px;
  font-size: 17px;
  &.big {
    margin-bottom: 8px;
    font-size: 20px;
  }
  &:first-child {
    margin-top: 0;
  }
}
.row {
  color: @textMinor;
  margin-left: 12px;
}

.indent {
  margin-left: 12px;
}

.contents {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  align-items: flex-start;
  > a {
    color: @textMinor;
    margin-left: 12px;
    &.big {
      font-size: 16px;
      margin-bottom: 4px;
      margin-top: 4px;
      margin-left: 0;
    }
  }
}
