@import "../../less/variables.less";

.Docs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  margin-bottom: 12px;
}
.sub {
  margin-bottom: 4px;
  font-weight: bold;
  &.big {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
.row {
  color: @textMinor;
  margin-left: 12px;
}

.indent {
  margin-left: 12px;
}
