@import "../../less/variables.less";

.FirebaseTable {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  height: 40px;
  &.horizontal {
    height: auto;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-left: 0;
    margin-right: 12px;
  }
}
