@import "../../less/variables.less";

.PlayGround {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.inputs {
  display: flex;
  font-size: 18px;
  padding: 4px;
  align-items: center;
  color: #999;
  font-weight: bold;
  background: #1b2e3d;
  > input {
    flex: 1;
    background: none;
    border: none;
    font-weight: 300;
    font-size: 18px;
    color: @text;
    outline: none;
  }
}

textarea {
  padding: 4px;
  background: #1b2e3d;
  outline: none;
  border: none;
  color: white;
  min-height: 80px;
}

.response {
  min-height: 60px;
  background: #1b2e3d;
  color: white;
  padding: 4px;
}

.subTitle {
  font-weight: bold;
}
