@import "../../less/variables.less";

.Example {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 40px;
}
.code {
  margin-top: 5px;
  > div {
    height: 100px;
  }
}

.response {
  padding: 4px;
  color: black;
  margin-top: 8px;
  white-space: pre-wrap;
  background-color: white;
}
.title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.tryLink {
  color: white;
  margin-top: 8px;
}
