@import "../../less/variables.less";

.Header {
  height: 60px;
  background-color: darken(@background, 5%);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
