@import "../../less/variables.less";

.Header {
  height: 60px;
  background-color: darken(@background, 5%);
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
}
.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.nav {
  display: flex;
}
.navItem {
  margin-left: 16px;
  color: @text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.flexSpacer {
  flex: 1;
}
@media only screen and (max-width: 700px) {
  .Header {
    height: auto;
  }
  .inner {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
  }
  .flexSpacer {
    display: none;
  }
  .logoWrapper {
    margin-top: 12px;
  }
  .nav {
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    margin-top: 4px;
    .navItem {
      margin-bottom: 8px;
      margin-top: 8px;
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }
}
